$btn-color: #a1a314;  //altera todos os botões
$width-btn: 200px;

.btn1{
    width: $width-btn;
    background-color: $btn-color;
}


.btn2{
    width: $width-btn;
    background-color: $btn-color;
}